<a href="https://colab.research.google.com/github/Pablobarchiesi94/PI_1_MLOps/blob/main/ETL%20/%20Uni%C3%B3n_de_movies_y_credits_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Me conecto a Google Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importo pandas

In [2]:
import pandas as pd

Abro los Dataframe

In [3]:
df_movies = pd.read_csv('/content/drive/MyDrive/df_movies_limpio.csv')

In [4]:
df_credits = pd.read_csv('/content/drive/MyDrive/df_credits_limpio.csv')

Uno los Dataframe

In [5]:
df_merged = pd.merge(df_movies, df_credits, on='id', how='outer')

In [6]:
df_merged.head(5)

,budget,genres,id,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,30000000.0,"['Animation', 'Comedy', 'Family']",862,21.946943,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,17.015539,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,0.0,"['Romance', 'Comedy']",15602,11.712900,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,3.859495,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995.0,5.090760,Viernes,Diciembre,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,0.0,['Comedy'],11862,8.387519,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,Viernes,Febrero,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

Ordeno el nuevo Dataset

In [7]:
# Extraigo la columna específica y la guardo en una variable
columna = df_merged.pop('id')

# Inserto la columna en primer lugar
df_merged.insert(0, 'id', columna)

In [8]:
df_merged.head(5)

,id,budget,genres,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,862,30000000.0,"['Animation', 'Comedy', 'Family']",21.946943,1995-10-30,373554033.0,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,8844,65000000.0,"['Adventure', 'Fantasy', 'Family']",17.015539,1995-12-15,262797249.0,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,15602,0.0,"['Romance', 'Comedy']",11.712900,1995-12-22,0.0,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,31357,16000000.0,"['Comedy', 'Drama', 'Romance']",3.859495,1995-12-22,81452156.0,Waiting to Exhale,6.1,34.0,1995.0,5.090760,Viernes,Diciembre,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,11862,0.0,['Comedy'],8.387519,1995-02-10,76578911.0,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,Viernes,Febrero,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

In [9]:
# Verifico los valores nulos en la columna release_year
column_name = 'release_year'
null_values = df_merged[column_name].isnull().sum()

# Muestro el número de valores nulos en la columna
print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'release_year': 87

In [10]:
# Elimino las filas con valores nulos en una columna release_year
column_name = 'release_year'
df_merged = df_merged.dropna(subset=[column_name])
# Verifico los valores nulos en la columna release_year
column_name = 'release_year'
null_values = df_merged[column_name].isnull().sum()

# Muestro el número de valores nulos en la columna
print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'release_year': 0

Cambio el formato de la columna release_year de float a int

In [11]:
df_merged['release_year'] = df_merged['release_year'].astype(int)

In [12]:
# Elimino las filas con valores nulos
df_merged = df_merged.dropna(subset=['cast'])

In [13]:
df_merged = df_merged.dropna(subset=['crew'])

In [14]:
# Verifico los valores
column_name = 'cast'
null_values = df_merged[column_name].isnull().sum()

print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'cast': 0

In [15]:
column_name = 'crew'
null_values = df_merged[column_name].isnull().sum()

print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'crew': 0

Guardo el Dataset limpio

In [16]:
df_merged.to_csv('df_final_limpio.csv', index=False)

In [17]:
df_merged.to_csv('/content/drive/MyDrive/df_final_limpio.csv', index=False)