<a href="https://colab.research.google.com/github/Pablobarchiesi94/PI_1_MLOps/blob/main/Modelo/Recomendaciones_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df= pd.read_csv('/content/drive/MyDrive/df_4000.csv')

In [9]:
df.head(3)

,id,budget,genres,popularity,release_date,revenue,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew,combined_features
0,46011,0.0,"['Drama', 'Comedy', 'Music', 'Romance', 'Family']",0.078792,1953-03-25,0.0,Call Me Madam,8.5,2.0,1953,0.000000,Miércoles,Marzo,"['Ethel Merman', ""Donald O'Connor"", 'Vera-Elle...",['Walter Lang'],"['Drama', 'Comedy', 'Music', 'Romance', 'Famil..."
1,227245,0.0,"['Drama', 'Romance']",0.150180,1958-08-04,0.0,The Last Day of Summer,6.3,4.0,1958,0.000000,Lunes,Agosto,"['Irena Laskowska', 'Jan Machulski']","['Tadeusz Konwicki', 'Tadeusz Konwicki', 'Jan ...","['Drama', 'Romance'] 6.3 ['Irena Laskowska', '..."
2,56525,6000000.0,['Action'],0.471086,2007-10-18,11171900.0,Boj S Tenyu 2: Revansh,5.6,5.0,2007,1.861983,Jueves,Octubre,"['Denis Nikiforov', 'Andrei Panin', 'Elena Pan...","['Anton Megerdichev', 'Aleksei Sidorov']","['Action'] 5.6 ['Denis Nikiforov', 'Andrei Pan..."

In [4]:
# Creo una matriz de características utilizando las variables relevantes
features = ['genres', 'vote_average', 'cast']
df['combined_features'] = df[features].apply(lambda row: ' '.join(row.values.astype(str)), axis=1)

# Utilizo CountVectorizer para convertir el texto en una matriz de conteo
count_matrix = CountVectorizer().fit_transform(df['combined_features'])

# Calculo la similitud del coseno entre las películas
cosine_sim = cosine_similarity(count_matrix)

def recomendacion(titulo):
    # para no tener en cuenta las minusculas y mayusculas
    titulo = titulo.lower()

    # Obtengo el índice de la película con el título dado
    idx = df[df['title'].str.lower() == titulo].index[0]

    # Obtengo los puntajes de similitud para la película con el título dado
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Ordeno las películas según la similitud de puntajes en orden descendente
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Obtengo los índices de las películas similares (excluyendo la película con el título dado)
    sim_indices = [i[0] for i in sim_scores if i[0] != idx]

    # Obtengo los títulos de las 5 películas más similares
    top_movies = df['title'].iloc[sim_indices[:5]].values.tolist()

    return top_movies

In [10]:
# Prueba
print(recomendacion('call me madam'))

['Up in Arms', 'Under the Cherry Moon', 'The Mad Miss Manton', 'The White Sheik', 'The Great Waltz']