<a href="https://colab.research.google.com/github/Pablobarchiesi94/PI_1_MLOps/blob/main/ETL/Limpieza_credits_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Me conecto al Drive donde tengo los archivos

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Impotaci√≥n de las librerias que voy a utilizar

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import ast
import json

Carga del Dataset

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Dataset/credits.csv')

Obtengo las columnas actuales y luego las ordeno

In [ ]:
columnas_actuales = df.columns.tolist()

# Defino el nuevo orden de las columnas
nuevo_orden = ['id', 'cast', 'crew']

# Reordeno las columnas del DataFrame
df = df[nuevo_orden]

Desanidado de los campos del Dataset

In [ ]:
def fetch_name(obj):
    if isinstance(obj,str) and '{' in obj:
        s = []
        for i in ast.literal_eval(obj):
            s.append(i['name']);
        return s

In [ ]:
df['cast'] = df['cast'].apply(fetch_name)
df['crew'] = df['crew'].apply(fetch_name)

In [ ]:
df.head()

,id,cast,crew
0,862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."
2,15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[Howard Deutch, Mark Steven Johnson, Mark Stev..."
3,31357,"[Whitney Houston, Angela Bassett, Loretta Devi...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez..."
4,11862,"[Steve Martin, Diane Keaton, Martin Short, Kim...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N..."

Guardo de los datos ya limpios

In [ ]:
df.to_csv('df_credits_limpio.csv', index=False)
# Guardamos en el drive el Dataset limpio
df.to_csv('/content/drive/MyDrive/df_credits_limpio.csv', index=False)