<a href="https://colab.research.google.com/github/Pablobarchiesi94/PI_1_MLOps/blob/main/ETL/Uni%C3%B3n_de_movies_y_credits_datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Me conecto a Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Importo pandas

In [ ]:
import pandas as pd

Abro los Dataframe

In [ ]:
df_movies = pd.read_csv('/content/drive/MyDrive/df_movies_limpio.csv')

In [ ]:
df_credits = pd.read_csv('/content/drive/MyDrive/df_credits_limpio.csv')

Uno los Dataframe

In [ ]:
df_merged = pd.merge(df_movies, df_credits, on='id', how='outer')

In [ ]:
df_merged.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,Viernes,Diciembre,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,Father of the Bride Collection,0.0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,Viernes,Febrero,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

Ordeno el nuevo Dataset

In [ ]:
# Extraigo la columna específica y la guardo en una variable
columna = df_merged.pop('id')

# Inserto la columna en primer lugar
df_merged.insert(0, 'id', columna)

In [ ]:
df_merged.head(5)

,id,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,862,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,8844,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,15602,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,31357,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,...,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995.0,5.090760,Viernes,Diciembre,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,11862,Father of the Bride Collection,0.0,['Comedy'],en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,...,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995.0,0.000000,Viernes,Febrero,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

In [ ]:
# Verifico los valores nulos en la columna release_year
column_name = 'release_year'
null_values = df_merged[column_name].isnull().sum()

# Muestro el número de valores nulos en la columna
print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'release_year': 87

In [ ]:
# Elimino las filas con valores nulos en una columna release_year
column_name = 'release_year'
df_merged = df_merged.dropna(subset=[column_name])
# Verifico los valores nulos en la columna release_year
column_name = 'release_year'
null_values = df_merged[column_name].isnull().sum()

# Muestro el número de valores nulos en la columna
print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'release_year': 0

Cambio el formato de la columna release_year de float a int

In [ ]:
df_merged['release_year'] = df_merged['release_year'].astype(int)

Obtengo las columnas actuales y luego las ordeno

In [ ]:
# Extraigo la columna 'id' y la guardo en una variable
columna = df_merged.pop('id')

# Inserto la columna en primer lugar
df_merged.insert(0, 'id', columna)

In [ ]:
# Elimino las filas con valores nulos
df_merged = df_merged.dropna(subset=['cast'])

In [ ]:
df_merged = df_merged.dropna(subset=['crew'])

In [ ]:
# Verifico los valores
column_name = 'cast'
null_values = df_merged[column_name].isnull().sum()

print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'cast': 0

In [ ]:
column_name = 'crew'
null_values = df_merged[column_name].isnull().sum()

print(f"Valores nulos '{column_name}': {null_values}")

Valores nulos 'crew': 0

Guardo el Dataset limpio

In [ ]:
df_merged.to_csv('df_final_limpio.csv', index=False)

In [ ]:
df_merged.to_csv('/content/drive/MyDrive/df_final_limpio.csv', index=False)